@import '../abstracts/mixins';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    padding: 0;
    margin: 0;
    // 1 rem = 10px;
    font-size: 62.5%;

    @include respond(tab-land) {
        // 1 rem = 9px, 9/16 = 50%
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        // 1 rem = 8px, 8/16 = 50%
        font-size: 50%;
    }
    
    @include respond(big-desktop) {
        // 1rem = 12, 12/16
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }

    background-color: #F1F3F6;
}

.app {
    background-color: #F1F3F6;
}

a {
    text-decoration: inherit;
    color: inherit;
}