@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import './variables';


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}