/*          colors          */
$color-white: #fff;
$color-grey-light: #F1F3F6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: rgb(37, 62, 133);

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

/*          font            */
$default-font-size: 1.2rem;
$small-font-size: 1rem;

/*          grid            */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*          layout          */
$menu-width: 20rem;
$content-margins: 1.5rem 3rem;
