@import '../styles/base/variables';

.button-icon-container {
    cursor: pointer;
    margin: 1rem;
    border: none;
    font-size: 1.4rem;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;

    &--dark {
        background: $color-grey-dark;
        color: $color-white;

        box-shadow:
        .5rem .5rem 1rem rgba(76, 78, 80, .6),
        -.3rem -.3rem 1rem rgba(165, 163, 163, .3),
        inset .3rem .3rem .8rem rgba(86, 93, 104, 0),
        inset -.3rem -.3rem .8rem rgba(105, 105, 105, 0);

        &:hover {
            box-shadow:
            .3rem .3rem 1.2rem rgba(76, 78, 80, 0.6),
            -.3rem -.3rem 1.2rem rgba(165, 163, 163, 0.5),
            inset .3rem .3rem .8rem rgba(86, 93, 104, .4),
            inset -.3rem -.3rem .8rem rgba(105, 105, 105, .4);
        }
    }

    &--light {
        background: $color-grey-light;
        color: $color-grey-dark;
        box-shadow:
        .9rem .9rem 1.6rem rgba(163, 177, 198, .6),
        -.9rem -.9rem 1.6rem rgba(255, 255, 255, .5),
        inset .3rem .3rem .8rem rgba(163, 177, 198, 0),
        inset -.3rem -.3rem .8rem rgba(255, 255, 255, 0);

        &:hover {
            box-shadow:
            .3rem .3rem 1.2rem rgba(163, 177, 198, .6),
            -.3rem -.3rem 1.2rem rgba(255, 255, 255, .5),
            inset .3rem .3rem .8rem rgba(163, 177, 198, .4),
            inset -.3rem -.3rem .8rem rgba(255, 255, 255, .4);
        }
    }
}

.button-icon-container > span,
.button-icon-flat-container > span {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon-container,
.button-icon-flat-container {
    &--circle {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 2.1rem;
    }

    &--squere {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }
}

.button-icon-flat-container {
    cursor: pointer;
    margin: 1rem;
    border: none;
    font-size: 1.4rem;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;

    &--dark {
        background: $color-grey-dark;
        color: $color-white;
        border: 2px solid $color-white;

        &:hover {
            color: $color-grey-dark;
            border: 2px solid $color-grey-dark;
        }
    }

    &--light {
        background: $color-grey-light;
        color: $color-grey-dark;
        border: 2px solid $color-grey-dark;

        &:hover {
            color: $color-black;
            border: 2px solid $color-black;
        }
    }
}