@import '../styles/base/variables';

.page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    &__sidebar {
        width: $menu-width;
        height: 100%;
        overflow: visible;
        z-index: 100;
        position: fixed;
    }

    .page-content {
        margin: $content-margins;
        padding-left: $menu-width;
        display: flex;
        flex-direction: column;
        flex: 1;

        &__header {
            flex: 0 0 10%;
            z-index: 1;
        }

        &__content {
            flex: 1;
        }
    }
}