@import '../../../../../libs/ui-library/src/lib/styles/base/variables';

.header {
    padding-bottom: 2rem;
    display: flex;

    &__title-container {
        flex-grow: 1;
    }

    &__title {
        color: $color-black;
        font-size: 5rem;
        line-height: .8;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 2rem;
    }


    &__button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}