@import '../styles/base/variables';

.card {
    min-height: 20rem;
    position: relative;
    background-color: $color-grey-light;
    border-radius: 10px;
    flex-direction: column;
    align-items: stretch;

    box-shadow:
    -30px -30px 80px rgba(255, 255, 255, 1),
    30px 30px 80px rgba(55, 84, 170, .1),
    4px 4px 20px rgba(255, 255, 255, .5);

    .card-header {
        margin: auto;
        padding: 1.2rem 1rem 1.2rem 1rem;
        box-shadow: 0px 5px 7px rgba(55, 84, 170, .1);
        flex-direction: column;

        &__title {
            font-size: 2.3rem;
            line-height: 2rem;
            font-weight: 300;
            color: $color-black;
        }

        &__subtitle {
            font-size: 1.4rem;
        }
    }

    .card-content {
        padding: 1.2rem 1rem 1.2rem 1rem;
        flex: 0 0 100%;
        font-size: $default-font-size;
    }

    .card-footer {
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: $default-font-size;
    }
}