@import '../styles/base/variables';

.logo-container {
    border: 3px solid $color-grey-light;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem 0;
    color: $color-grey-light;

    .logo-title {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .logo-subtitle {
        font-size: 1.2rem;
        font-weight: 300;
    }
}