@import '../../../../../libs/ui-library/src/lib/styles/base/variables';

.sidemenu-container {
    background: $color-grey-dark;
    height: 100%;
    padding: 3.5rem 3rem;
    color: $color-white;
    display: flex;
    flex-direction: column;

    &__collapse-button {
        box-sizing: border-box;
        position: absolute;
        bottom: 115px;
        left: $menu-width;
        z-index: 1;
        transform: translateX(-50%);
    }

    &__collapse-button > * {
        margin: 0;
    }

    &__paragraph {
        font-size: $small-font-size;
    }

    .menu-list-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-list {
        list-style: none;
        text-align: center;

        &--main {
            padding: 2rem 0;
            flex: 0 0 70%;
        }

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
        }

        &__item > *:first-child {
            margin-left: 0;
        }

        &--footer {
            display: flex;
            flex-direction: row;
            font-size: $small-font-size;
            justify-content: center;
        }
    }
}