@import '../styles/base/variables';

.button-container {
    box-sizing: border-box;
    max-width: 15rem;
    min-width: 13rem;
    position: relative;
    cursor: pointer;
    margin: 1rem 1.2rem;
    padding: .2rem 2.2rem;
    text-align: center;
    border-radius: 16px;
    border: none;
    font-size: 1.4rem;
    transition: 1s;

    &--dark {
        background: $color-grey-dark;
        color: $color-white;

        box-shadow:
        .6rem .6rem 1.6rem rgba(76, 78, 80, .6),
        -.3rem -.3rem 1rem rgba(165, 163, 163, .4),
        inset .3rem .3rem .8rem rgba(86, 93, 104, 0),
        inset -.3rem -.3rem .8rem rgba(105, 105, 105, 0);

        &:hover {
            box-shadow:
            .3rem .3rem 1.2rem rgba(76, 78, 80, 0.6),
            -.3rem -.3rem 1.2rem rgba(165, 163, 163, 0.5),
            inset .3rem .3rem .8rem rgba(86, 93, 104, .4),
            inset -.3rem -.3rem .8rem rgba(105, 105, 105, .4);
        }
    }

    &--light {
        background: $color-grey-light;
        color: $color-grey-dark;
        box-shadow:
        .9rem .9rem 1.6rem rgba(163, 177, 198, .6),
        -.9rem -.9rem 1.6rem rgba(255, 255, 255, .5),
        inset .3rem .3rem .8rem rgba(163, 177, 198, 0),
        inset -.3rem -.3rem .8rem rgba(255, 255, 255, 0);

        &:hover {
            box-shadow:
            .3rem .3rem 1.2rem rgba(163, 177, 198, .6),
            -.3rem -.3rem 1.2rem rgba(255, 255, 255, .5),
            inset .3rem .3rem .8rem rgba(163, 177, 198, .4),
            inset -.3rem -.3rem .8rem rgba(255, 255, 255, .4);
        }
    }
}

.button-container > span,
.button-container > span > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container > span > *,
.button-container > span > a > * {
    margin: 0 .4rem;
    white-space: nowrap;
}